 <!-- Footer-->
 <footer id="wrap-footer" class="bg-gray-1 color-inher">
        <!-- Footer top -->
        <div class="footer-top">
            <div class="container">
                <div class="bg-gray-1 p-l-r">
                    <div class="row">
                        <!-- Company info -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="heading-1">
                                <h3>Information Entreprise</h3>
                            </div>
                            <p>Le Groupe INTM, spécialiste en conseil et en services du numérique, s’inscrit depuis toujours dans une volonté de proximité et de performances opérationnelles.
                            </p>
                            <ul class="list-default">
                                <li><i class="fa fa-signal"></i>274 bis Avenue de la marne Woodpark Bât. F, 59700 Marcq-en-baroeul</li>
                                <li><i class="fa fa-phone"></i>0666666666</li>
                                <li><i class="fa fa-envelope-o"></i>abdellah.hatimy@gmail.com</li>
                                <li><i class="fa fa-globe"></i>http://www.intm.fr/</li>
                            </ul>
                        </div>
                        <!-- Newsletter -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="newsletter text-left">
                                <div class="heading-1">
                                    <h3>Inscrivez Vous</h3>
                                </div>
                                <p>Si vous ne disposez pas de compte, Veuillez-vous inscrire SVP! </p>
                                <form method="GET" action="/">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-item" id="Email1" placeholder="Email">
                                    </div>
                                    <button type="submit" class="ht-btn ht-btn-default">Inscription</button>
                                </form>
                            </div>
                        </div>
                        <!-- Quick link -->
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="heading-1">
                                <h3>Lien sur le site</h3>
                            </div>
                            <ul class="list-default">
                                <li><a href="/home"><i class="fa fa-angle-right"></i>Accueil</a></li>
                                <li><a href="/homee"><i class="fa fa-angle-right"></i>Profils</a></li>
                                <li><a href="/add"><i class="fa fa-angle-right"></i>Ajout</a></li>
                                <li><a href="/rechercheavance"><i class="fa fa-angle-right"></i>Rechercher</a></li>
                                <li><a href="/propos"><i class="fa fa-angle-right"></i>A propos</a></li>
                                <li><a href="/contact"><i class="fa fa-angle-right"></i>Contactez Nous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer bottom -->
        <div class="footer-bt color-inher">
            <div class="container">
                <div class="bg-gray-0c p-l-r">
                    <div class="row">
                        <div class="col-md-6">
                            <p>© 2019 Designed by <a href="">HATIMY ABDELLAH</a>. Copyright
                                
                            </p>
                        </div>
                        <div class="col-md-6">
                            <ul class="social-icon list-inline pull-right">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>