 <!-- Header-->
 <style type="text/css">
 #menu_langues {
    font-size: 2.65rem;
}
.top_header .menu_social > li.menu-entree, .top_header .menu_social li, .top_header .menu_social > #social_dropdown, #menu_langues li, #menu_langues li strong, .top_header .dropdown, .menu_langues > li.on > strong {
    display: inline-block;
}
ul.submenu {
    position: absolute;
    background: rgba(51,51,51,0.97);
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    left: 0;
    text-align: center;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
</style>
 <header id="wrap-header" class="color-inher">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 hidden-xs">
                        <p class="f-14"><i class="fa fa-map-marker m-r-lg-5"></i><strong>Groupe INTM</strong> 274 bis Avenue de la marne Woodpark Bât. F, 59700 Marcq-en-baroeul
                            </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <ul class="pull-right">
                    <!--        <li>  
                                    <select id="pet-select">
                                        <option value="">FR</option>
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="spider">Spider</option>
                                        <option value="goldfish">Goldfish</option>
                                    </select>       
                            </li>
                            <li>
                                    <div id="menu_langues">
                                            <ul class="menu menu_langues"><li class="menu_label"><a href="#" title="Fermer le menu des langues disponibles"><i class="fa fa-globe-1" aria-hidden="true"></i></a></li>
                                            <li class="menu-entree item">
                                                <strong title="Fermer le menu des langues disponibles">fr <i class="fa chevron fa-chevron-up" aria-hidden="true"></i></strong>
                                                <ul class="submenu_langues submenu on"><li class="arabe">
                                                        <a href="https://www.diplomatie.gouv.fr/ar/" title="عربي" lang="ar">عربي</a>
                                                    </li><li>
                                                        <a href="https://www.diplomatie.gouv.fr/de/" title="Deutsch" lang="de">Deutsch</a>
                                                    </li><li>
                                                        <a href="https://www.diplomatie.gouv.fr/en/" title="English" lang="en">English</a>
                                                    </li><li>
                                                        <a href="https://www.diplomatie.gouv.fr/es/" title="Español" lang="es">Español</a>
                                                    </li><li class="selected">
                                                            Français
                                                    </li><li>
                                                        <a href="https://jp.ambafrance.org/-Japonais-" title="日本語" lang="ja">日本語</a>
                                                    </li><li>
                                                        <a href="https://www.diplomatie.gouv.fr/ru/" title="Русский" lang="ru">Русский</a>
                                                    </li><li>
                                                        <a href="https://cn.ambafrance.org/?lang=zh" title="中文" lang="zh">中文</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            </ul>
                                            </div>
                            </li>-->
                            <li><a href="/" class="icon-1"><i class="fa fa-user"></i><span><%= lang.Compte %></span></a></li>
                              <li><a href="/" class="icon-1"><i class="fa fa-heart-o"></i><span>Créer Compte</span></a>
                            
                            
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="menu-bg">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-3 col-lg-3">
                        <a href="index.php" class="logo" style="margin-left:50%"><img src="images/Groupe-INTMM.png" alt="logo"></a>
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <div class="hotline">
                            <span class="m-r-lg-10">Pour plus de renseignement:</span>
                            <i class="fa fa-phone"></i>0663636363
                        </div>
                        <div class="clearfix"></div>
                        <!-- Menu -->
                        <div class="main-menu">
                            <div class="container1">
                                <nav class="navbar navbar-default menu">
                                    <div class="container1-fluid">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                                aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        </div>
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li >
                                                    <a href="/"  role="button"  >Accueil</a>
                                                </li>
                                                <li >
                                                    <a href="/homee"  role="button">Profils
                                                  </a>
                                                 
                                                </li>
                                                <li >
                                                    <a href="/"  role="button" >Ajout</a>
                                               
                                                </li>
                                                <li >
                                                    <a href="/"  role="button" >Rechercher</a>
                                                 
                                                </li>
                                                <li >
                                                    <a href="/"  role="button" >A propos</a>
                                                 
                                                </li>
                                                <li><a href="/">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!-- Search -->
                              <!--  <div class="search-box">
                                    <i class="fa fa-search"></i>
                                    <form>
                                        <input type="text" name="search-txt" placeholder="Rechercher..." class="search-txt form-item">
                                        <button type="submit" name="submit" class="search-btn btn-1"><i
                                            class="fa fa-search"></i></button>
                                    </form>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>