<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTM GROUPE</title>
    <link rel="icon" href="/images/fav.ico">
    <!-- JqueryUI -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="./css/boostrap/bootstrap.min.css">
    <!-- Awesome font icons -->
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
    <!-- Magnific popup-->
    <link rel="stylesheet" type="text/css" href="./css/magnific-popup/magnific-popup.css" media="screen" />
    <!-- Owlcoursel -->
    <link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.theme.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Padding / Margin -->
    <link rel="stylesheet" type="text/css" href="css/padd-mr.css">
    <!-- light version-->
    <link id="vers" rel="stylesheet" type="text/css" href="css/light-version.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="bg-3">
<!-- Preloader -->
<div class="preloader">
<p></p>
</div>
<!-- TEST GITHUB -->
<div id="wrap" class="color1-inher">
    <% include partials/navdemandeur.ejs %>
<!-- Main content -->
    <!-- Main content -->
    <div id="wrap-body" class="p-t-lg-30">
        <div class="container">
            <div class="wrap-body-inner">
                <!-- Breadcrumb-->
                <div class="hidden-xs">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="ht-breadcrumb pull-left">
                                <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">A propos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- About-->
                <section class="m-t-lg-30 m-t-xs-0 m-b-lg-50">
                    <div>
                        <div class="row">
                            <div class="col-md-7 col-lg-8 m-b-lg-50">
                                <div class="heading">
                                    <h3>Qui Sommes Nous?</h3>
                                </div>
                                <p  style=" line-height: 2">Le Groupe INTM, spécialiste en conseil et en services du numérique, s’inscrit depuis toujours dans une volonté de proximité et de performances opérationnelles.
                                        Depuis 2004, grâce à la confiance mutuelle entre INTM, ses 1600 collaborateurs et ses clients, INTM connait une forte croissance appuyée par des référencements durables avec de grands groupes.
                                        A travers nos expertises, tant fonctionnelles que techniques, nous mettons nos compétences et nos solutions à disposition de nombreuses entreprises dans les secteurs de l’industrie, des transports, de l’assurance, de la banque, des télécoms, de l’énergie, etc.</p>
                                        <br/><br/><br/>
                                        <div class="heading">
                                                <h3>Notre Business Model</h3>
                                            </div>
                                            <p  style=" line-height: 2">La proximité avec la direction générale et l’esprit d’équipe des managers permettent d’anticiper avec agilité et efficacité les besoins de nos clients. Plus que de simples commerciaux, les Business Managers sont d’anciens consultants qui maîtrisent tous les aspects des environnements clients. Cette confiance mutuelle entre la direction d’INTM, ses collaborateurs et ses clients est la clé de notre excellence et de notre croissance.

                                                    Nos Business Managers effectuent les 3 métiers suivants :
                                                    
                                                        le développement commercial et la gestion de la relation client
                                                        la sélection et le recrutement de nouveaux talents
                                                        le management et le suivi de carrière des consultants : plan de formations et évolutions de carrière
                                                    
                                                    Ni nos managers, ni nos consultants ne sont cloisonnés par Business Métier ou par technologie. La diversité des clients gérés par le même manager permet à nos consultants d’intervenir sur des secteurs métiers multiples avec un positionnement évolutif et dynamique.</p>
                            <br/><br/><br/>
                            <div class="heading">
                                    <h3>Nos collaborateurs, notre réussite</h3>
                                </div>
                                <p  style=" line-height: 2">Grâce au cercle vertueux formé par les managers et les consultants, nous répondons de façon pertinente aux attentes de nos clients et aux aspirations de nos collaborateurs.
                                        Nous proposons à ces derniers une évolution progressive liée à leurs compétences, leur motivation et à leur relationnel chez nos clients et nos partenaires. C’est ainsi que nous avons mis en place l’institut de formation Groupe INTM qui accompagne nos collaborateurs dans leurs montées en compétence.</p>
                                    <br/><br/>
                                    <img src="images/collaborateurs.png" class="width-100" alt="image">           
                                    </div>
                            
                            <div class="col-sm-12 col-md-5 col-lg-4">
                                <img src="images/propos1.png" class="width-100" alt="image">
                                <img src="images/propos2.png" class="width-100" alt="image">
                            </div>
                        </div>
                       
                    </div>
                </section>
                <!-- Last news -->
                <!--
                <section class="m-b-lg-50">
                    <div class="blog blog-grid overl">
                        <div class="heading">
                            <h3>Latest News</h3>
                        </div>
                        <div class="row">
                            <div class="owl" data-items="3" data-itemsDesktop="3" data-itemsDesktopSmall="2" data-itemsTablet="2" data-itemsMobile="1"
                                data-pag="false" data-buttons="true">
                                <div class="col-lg-12">
                                    <!-- Blog item -->
                               <!--     <div class="blog-item">
                                        <a href="#" class="hover-img"><img src="images/b-img-1.jpg" alt="image"></a>
                                        <div class="blog-caption">
                                            <ul class="blog-date">
                                                <li><a href="#"><i class="fa fa-calendar"></i>25th May 2017</a></li>
                                                <li><a href="#"><i class="fa fa-comment"></i>3 comment</a></li>
                                            </ul>
                                            <h3 class="blog-heading"><a href="#">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit</a></h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp
                                                incidunt ut labore et dolore magna aliqua uat veniama</p>
                                            <a href="#" class="ht-btn ht-btn-default">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!-- Blog item -->
                                <!--    <div class="blog-item">
                                        <a href="#" class="hover-img"><img src="images/b-img-2.jpg" alt="image"></a>
                                        <div class="blog-caption">
                                            <ul class="blog-date">
                                                <li><a href="#"><i class="fa fa-calendar"></i>25th May 2017</a></li>
                                                <li><a href="#"><i class="fa fa-comment"></i>3 comment</a></li>
                                            </ul>
                                            <h3 class="blog-heading"><a href="#">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit</a></h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp
                                                incidunt ut labore et dolore magna aliqua uat iama</p>
                                            <a href="#" class="ht-btn ht-btn-default">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!-- blog item -->
                                  <!--  <div class="blog-item">
                                        <a href="#" class="hover-img"><img src="images/b-img-3.jpg" alt="image"></a>
                                        <div class="blog-caption">
                                            <ul class="blog-date">
                                                <li><a href="#"><i class="fa fa-calendar"></i>25th May 2017</a></li>
                                                <li><a href="#"><i class="fa fa-comment"></i>3 comment</a></li>
                                            </ul>
                                            <h3 class="blog-heading"><a href="#">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit</a></h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp
                                                incidunt ut labore et dolore magna aliqua uat iama</p>
                                            <a href="#" class="ht-btn ht-btn-default">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!-- Blog item -->
                                 <!--   <div class="blog-item">
                                        <a href="#" class="hover-img"><img src="images/b-img-4.jpg" alt="image"></a>
                                        <div class="blog-caption">
                                            <ul class="blog-date">
                                                <li><a href="#"><i class="fa fa-calendar"></i>25th May 2017</a></li>
                                                <li><a href="#"><i class="fa fa-comment"></i>3 comment</a></li>
                                            </ul>
                                            <h3 class="blog-heading"><a href="#">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit</a></h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp
                                                incidunt ut labore et dolore magna aliqua uat iama</p>
                                            <a href="#" class="ht-btn ht-btn-default">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
            </div>
        </div>
    </div>

</div>
<% include partials/footer.ejs %>
</div></div>
       
<!-- jQuery -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- JqueryUI -->
<script src="js/jquery/jquery-ui.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!--magnific popup-->
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Jquery.counterup -->
<script src="js/jquery.counterup/waypoints.min.js"></script>
<script src="js/jquery.counterup/jquery.counterup.min.js"></script>
<!-- Owl-coursel -->
<script src="js/owl-coursel/owl.carousel.js"></script>
<!-- Script -->
<script src="js/script.js"></script>
</body>

</html>