<form method="post" action="/addoffre">
    <div class="form-group input-group margin-bottom-sm">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control form-item" name="titre" placeholder="Titre Offre">
    </div>
    <div class="form-group input-group margin-bottom-sm">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control form-item" name="description" placeholder="Description Offre">
    </div>
    <div class="form-group input-group margin-bottom-sm">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control form-item" name="nivetude" placeholder="Niveau Etude">
    </div>
    <div class="form-group input-group margin-bottom-sm">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control form-item" name="renumeration" placeholder="Rémunération">
    </div>
    <button type="submit" class="ht-btn ht-btn-default">Inscription</button>
</form>